.resposta{
    display: flex;
    margin: 20px;

}

.conteudoResposta{
    
}

.frente, .verso{
    display: flex;
    height: 100%;
    width: 500px;
    
}

.frente{
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    color: #000;
    background-color: white;
}

.letra{
    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.3rem;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
}

.valor{
    font-size: 1.3rem;
    font-weight: bold;
}